{% extends 'generic_base.html' %}

{% block title %}Booking{% endblock %}

{% block content %}
<h1>Booking</h1>

<div class="booked_flight">
  <p>Date: {{ flight.start_datetime }}</p>
  <p>Departure: {{ flight.departure_airport.code }}</p>
  <p>Arrival: {{ flight.arrival_airport.code }}</p>
  <p>Flight ID: {{ flight.id }}</p>
</div>

<div class="passenger_info">
  <form action="{{ form_success }}" method="POST">
    {% csrf_token %}
    {% for i in passengers %}
      <p>Passenger No.{{ i }}</p>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
    {% endfor %}
    <input type="hidden" name="flight_no" value="{{ flight.id }}">

    <input type="submit", value="Submit">
  </form>
</div>
  
{% endblock %}