{% extends 'generic_base.html' %}

{% block title %}Flights{% endblock %}

{% block content %}
  <h1>Search</h1>

  <form action="" method="GET">
    <label for="arrival_airport">Arrival Airport</label>
    <select name="arrival_airport" id="arrival_airport">
      {% for airport in airports %}
        <option value="{{ airport.id }}" {% if airport.id == params.arrival_airport %}selected="selected"{% endif %}>{{ airport.code }}</option>
      {% endfor %}
      </select>
  
    <label for="departure_airport">Departure Airport</label>
    <select name="departure_airport" id="departure_airport">
      {% for airport in airports %}
        <option value="{{ airport.id }}" {% if airport.id == params.departure_airport %}selected="selected"{% endif %}>{{ airport.code }}</option>
      {% endfor %}
      </select>
      
  
    <label for="passengers">Passengers</label>
    <select name="passengers" id="passengers">
      {% for i in passengers %}
        <option value="{{ i }}" {% if i == params.passengers %}selected="selected"{% endif %}>{{ i }}</option>
      {% endfor %}
      </select>
  
    <label for="datetime">Starting Date</label>
    <select name="datetime" id="datetime">
      {% for flight in flights %}
        <option value="{{ flight }}" {% if flight == params.datetime %}selected="selected"{% endif %}>{{ flight }}</option>
      {% endfor %}
      </select>

    <input type="Submit" value="Search">

    <section class="results">
      <h1>Available Flights</h1>
      <form action="" method="GET">
        {% for flight in available_flights %}
          <div class="flight">
              <span>Arrival Airport:</span>
              <span>{{ flight.arrival_airport.code }}</span>
              <span>Departure Airport:</span>
              <span>{{ flight.departure_airport.code }}</span>
              <span>Date:</span>
              <span>{{ flight.start_datetime }}</span>
              <span>Duration:</span>
              <span>{{ flight.duration }}</span>
              <input type="radio" name="chosen_flight" id="chosen_flight" value="{{ flight.id }}">
          </div>
        {% endfor %}
        <input type="submit" value="Submit">
      </form>
    </section>
  </form>
{% endblock %}